.about-wrapper {
	width: 100%;
	.about-title {
		margin-bottom: 15px;
		h2 {
			margin: 0;
			font-weight: 600;
			text-align: center;
			font-size: 26px;
		}
	}
	.about-text {
		width: 70%;
		margin: 15px auto;
		font-weight: 500;
		font-size: 20px;
		font-style: italic;
	}
}

@media screen and (max-width: 430px) {
	.about-wrapper {
		width: 100%;
		.about-text {
			width: 95%;
			margin: 15px auto;
			font-weight: 500;
			font-size: 20px;
			font-style: italic;
		}
	}
}